body{
    background-color: white;
}
/*.column{
    float:left;
    padding: 1px;
    height: 500;
}
.left{
    width:50%;
}
.row{
    content:"";
    display: table;
    clear: both;
}*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    max-width:95%;
    position:absolute;
    z-index:1;
    top: 50px;
    left: 110px;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
  }