.sinopsis{
    padding: 15px;
    border: 3px solid salmon;
    background-color: black;
    width: 30%;
    /* display block dan margin auto itu combination buat ke center  */
    display: block;
    margin: auto;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}
.content{
    background-color: white;
    max-width: 30%;
    border: 1px solid purple;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
}